$headerHeight: 60px;
$footerHeight: 50px;
$containerWidth: 1000px;

$color-white-300: #fafafa;
$color-black: #0f0f0f;
$color-light-gray: #e9e9e9;
$color-gray-500: #7c7c7c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $headerHeight;
    color: $color-black;
    background-color: $color-light-gray;

    .logo {
        font-size: 20px;
        font-weight: 600;
    }
}

// @debug ($headerHeight + $footerHeight);

main {
    min-height: calc(100vh - ($headerHeight + $footerHeight));
    height: max-content;
}

.container {
    max-width: $containerWidth;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    a {
        color: $color-gray-500;
        text-decoration: none;
        &:hover {
            color: tomato;
            text-decoration: underline;
        }
    }
}

.title {
    font-size: 24px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
}

.example-group {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    word-wrap: break-word;

    span {
        margin-bottom: 0.25rem;
    }

    a {
        width: max-content;
        background-color: #e7e7e7;
        color: $color-black;
        padding: 0.5rem 1rem;
        border-radius: 6px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $footerHeight;
    padding: 1rem 0;
    background-color: $color-light-gray;
    color: #0f0f0f;
    font-size: 14px;

    .footer-group {
        text-align: center;

        a {
            color: inherit;

            &:hover {
                color: dodgerblue;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0.5rem;
    }
}
