$color-white-light: #fafafa;
$color-gray-light: #efefef;
$color-blue-sky: dodgerblue;
$color-black-500: #2c2f33;
$color-bg-response: #282a36;
$color-header-response: #5171a4;
$color-key-reponse: #66d9ef;
$color-value-reponse: #f1fa8c;

.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: max-content auto;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    grid-row: 1;
    grid-column: span 2;
}

.section-navigator {
    padding: 1rem 0.5rem;

    #card-navigator {
        position: fixed;
        right: auto;
        padding: 1rem;
        background-color: $color-white-light;
        border: 1px solid $color-gray-light;
        border-radius: 4px;
    }

    p.title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #d4d4d4;
    }

    ul.navigator-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.about-content,
.features-content,
.how-to-use-content,
.examples-content,
.dictionare-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    p:last-child {
        margin-bottom: 0;
    }
}

.introduction,
.search-period {
    margin-bottom: 2rem;
}

.title-2 {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $color-gray-light;
}

.title-3 {
    color: $color-black-500;
    text-decoration: underline;
}

.how-to-use-content ul li:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.sub-list {
    margin-top: 0;

    li::marker {
        content: "|--";
        color: inherit;
    }
}

.emphasis-font {
    color: $color-blue-sky;
    font-weight: 600;
    font-style: italic;
}

.framed-text {
    background-color: $color-gray-light;
    padding: 0.5rem;
    border-radius: 4px;
    word-break: break-all;
}

.header-response {
    color: $color-header-response;
}

.key-response {
    color: $color-key-reponse;
}

.value-response {
    color: $color-value-reponse;
}

h1 {
    font-size: 2rem; //32px
}

h2 {
    font-size: 1.625rem; //26px
}

h3 {
    font-size: 1.25rem; //20px
}

h4 {
    font-size: 1.125rem; //18px
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

pre {
    background-color: $color-bg-response;
    color: $color-white-light;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 100%;
    }

    p span.framed-text {
        line-height: 40px;
    }

    .section-navigator {
        display: none;
    }
}
